---
// Objetos y estilos de la página
import "../styles/delete-account.styles.css"; // Asegúrate de que este archivo tenga estilos específicos
import logo from "../assets/img/logo.png"; // Importa el archivo PNG aquí
import exampleForUser from "../assets/img/example-to-users.png"; // Importa el archivo PNG aquí
import {
  faTrash,
  faUser,
  faEnvelopeOpenText,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { auth } from "../api/firebase.ts"; // Importa el objeto de autenticación
import { deleteUser } from "firebase/auth";
// Componente de diseño de la página
import LayoutApp from "../layouts/LayoutApp.astro";
import Button from "../components/common/button.tsx";
import Modal from "../components/common/modal.tsx";

// Funciones de la página
const handleDeleteAccount = async () => {
  const user = auth.currentUser;

  if (user) {
    const confirmation = confirm(
      "¿Estás seguro de que deseas eliminar tu cuenta? Esta acción es irreversible."
    );

    if (confirmation) {
      try {
        await deleteUser(user);
        alert("Tu cuenta ha sido eliminada exitosamente.");
      } catch (error) {
        console.error("Error al eliminar la cuenta:", error);
        alert(
          "Hubo un error al eliminar tu cuenta. Por favor, intenta de nuevo."
        );
      }
    }
  } else {
    alert("No hay un usuario autenticado.");
  }
};
---

<LayoutApp title="BeatConnect App - Eliminación de cuenta">
  <div class="container-delete-account">
    <div class="content">
      <header class="header-delete-account">
        <div
          class="header-bg"
          style={`background-image: url(${exampleForUser.src});`}
        >
        </div>

        <div class="header-content">
          <img src={logo.src} alt="BeatConnect" />
          <h1>Eliminación de Cuenta</h1>
          <p>
            Si deseas eliminar tu cuenta o solicitar la eliminación de tus datos
            de nuestra aplicación, por favor sigue los pasos a continuación.
          </p>
        </div>
      </header>

      <section class="delete-account-form">
        <h2>Solicitud de eliminación de cuenta</h2>
        <p>
          Para solicitar la eliminación de tu cuenta, por favor completa el
          formulario a continuación.
        </p>
        <form class="form-delete-account">
          <div class="info-label">
            <FontAwesomeIcon icon={faUser} />
            <label for="email">Correo electrónico asociado a la cuenta:</label>
          </div>
          <input type="email" id="email" name="email" required />

          <div class="info-label">
            <FontAwesomeIcon icon={faEnvelopeOpenText} />
            <label for="reason"
              >Razón para la eliminación (Personalice su respuesta aquí):</label
            >
          </div>
          <textarea id="reason" name="reason" rows="4" required></textarea>
          <div class="form-group consent">
            <input type="checkbox" id="consent" name="consent" required />
            <label for="consent"
              >He leído y acepto las <a href="/">Políticas de Privacidad</a>
            </label>
          </div>
        </form>
        <!-- Aquí se renderiza el modal -->
        <Modal
          client:load
          title="¿Estás seguro de eliminar tu cuenta?"
          description="Al eliminar tu cuenta, perderás acceso a todos los servicios y datos asociados a tu cuenta. Esta acción es irreversible."
        >
          <!-- Botón activador del modal -->
          <Button
            type="submit"
            onClick={handleDeleteAccount}
            style={{
              background: "#e74c3c",
              width: "100%",
              padding: "10px",
              fontSize: "18px",
              fontWeight: "bold",
              color: "#fff",
              border: "none",
              borderRadius: "5px",
              maxWidth: "60%",
              maxHeight: "50px",
              cursor: "pointer",
            }}
          >
            <FontAwesomeIcon
              icon={faTrash}
              style={{ height: "20px", width: "20px" }}
            />
            Solicitar eliminación de cuenta
          </Button>
        </Modal>
      </section>

      <section id="contact" class="contact">
        <h2>¿Necesitas ayuda?</h2>
        <p>
          Si tienes alguna pregunta o necesitas asistencia adicional, puedes
          contactarnos en:
        </p>
        <p><a href="mailto:soporte@tudominio.com">beatconnet@gmail.com</a></p>
      </section>
    </div>
  </div>
</LayoutApp>
