---
import Layout from "../layouts/Layout.astro";
import "../styles/delete-account.styles.css"; // Asegúrate de que este archivo tenga estilos específicos
import "../styles/index.styles.css"; // Asegúrate de que este archivo tenga estilos globales
import logo from "../assets/img/logo.png"; // Importa el archivo PNG aquí
import exampleForUser from "../assets/img/example-to-users.png"; // Importa el archivo PNG aquí
import {
  faTrash,
  faUser,
  faEnvelopeOpenText,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<Layout title="Eliminar Cuenta - BeatConnect">
  <main class="container-delete-account">
    <header class="header-delete-account">
      <div
        class="header-bg"
        style={`background-image: url(${exampleForUser.src});`}
      >
      </div>

      <div class="header-content">
        <img src={logo.src} alt="BeatConnect" />
        <h1>Eliminación de Cuenta</h1>
        <p>
          Si deseas eliminar tu cuenta o solicitar la eliminación de tus datos
          de nuestra aplicación, por favor sigue los pasos a continuación.
        </p>
      </div>
    </header>

    <section class="delete-account-form">
      <h2>Solicitud de Eliminación de Cuenta</h2>
      <p>
        Para solicitar la eliminación de tu cuenta, por favor completa el
        formulario a continuación.
      </p>
      <form
        class="form-delete-account"
        action="https://tu-dominio/api/eliminar-cuenta"
        method="POST"
      >
        <div class="info-label">
          <FontAwesomeIcon icon={faUser} />
          <label for="email">Correo electrónico asociado a la cuenta:</label>
        </div>
        <input type="email" id="email" name="email" required />

        <div class="info-label">
          <FontAwesomeIcon icon={faEnvelopeOpenText} />
          <label for="reason"
            >Razón para la eliminación(Personalice su respuesta aqui):
          </label>
        </div>
        <textarea id="reason" name="reason" rows="4" required></textarea>

        <button type="submit">
          <FontAwesomeIcon icon={faTrash} />
          Solicitar eliminación de cuenta
        </button>
      </form>
    </section>

    <section id="contact" class="contact">
      <h2>¿Necesitas ayuda?</h2>
      <p>
        Si tienes alguna pregunta o necesitas asistencia adicional, puedes
        contactarnos en:
      </p>
      <p><a href="mailto:soporte@tudominio.com">beatconnet@gmail.com</a></p>
    </section>
  </main>
</Layout>
