---
import DropDown from "../components/drop-down.tsx";
import "../styles/faq-page.styles.css"; // Importa el archivo CSS aquí
import logo from "../assets/img/logo.png"; // Importa el archivo PNG aquí

const faqData = [
  {
    question: "¿Cómo puedo eliminar mi cuenta?",
    answer:
      "Para eliminar tu cuenta, ve a la sección de Eliminación de Cuenta y completa el formulario con tu correo electrónico y motivo. Nuestro equipo procesará tu solicitud en un plazo de 48 horas.",
    hasButton: true, // Campo adicional para mostrar el botón
    url: "/delete-account", // URL de la página de eliminación de cuenta
  },
  {
    question: "¿Qué pasa con mis datos después de eliminar mi cuenta?",
    answer:
      "Una vez que tu cuenta sea eliminada, todos tus datos personales serán eliminados permanentemente de nuestros servidores, conforme a nuestra Política de Privacidad.",
    hasButton: false,
  },
  {
    question: "¿Puedo recuperar mi cuenta después de eliminarla?",
    answer:
      "No, una vez que elimines tu cuenta, no será posible recuperarla. Si deseas volver a usar nuestra aplicación, tendrás que crear una nueva cuenta.",
    hasButton: false,
  },
  {
    question: "¿Qué debo hacer si no recibo confirmación de eliminación?",
    answer:
      "Si no recibes confirmación en un plazo de 48 horas, por favor contacta a nuestro equipo de soporte en beatconnect@gmail.com.",
    hasButton: false,
  },
  {
    question: "¿Qué datos personales recopila la aplicación?",
    answer:
      "Recopilamos los datos necesarios para el funcionamiento de la aplicación, como tu correo electrónico, nombre de usuario y otros datos proporcionados voluntariamente. Para más información, revisa nuestra Política de Privacidad.",
    hasButton: false,
  },
];
---

<div class="container-faq-page">
  <header class="header-faq">
    <img src={logo.src} alt="BeatConnect" style="width: 8em; height: 8em;" />
    <h1>Preguntas Frecuentes</h1>
    <p>
      Encuentra respuestas a las preguntas más comunes sobre nuestra aplicación.
    </p>
  </header>

  <section class="content-faq">
    <h2>Lista de preguntas</h2>
    <div class="faq-list">
      {
        faqData.map((item, index) => (
          <DropDown
            client:load
            question={item.question}
            answer={item.answer}
            hasButton={item.hasButton}
            url={item.url}
          />
        ))
      }
    </div>
  </section>
</div>
